
<h2>Products</h2>

<a href="/admin/products/add" class="btn btn-success mb-3">
Add Product
</a>

<table class="table">
<thead>
<tr>
<th>Image</th>
<th>Name</th>
<th>Category</th>
<th>Price</th>
<th>Stock</th>
<th>Actions</th>
</tr>
</thead>

<tbody>
<% products.forEach(product => { %>
<tr>
<td><%= product.name %></td>
<td>₹ <%= product.price %></td>
<tr>

<td>
<img src="<%= product.image %>" width="60">
</td>

<td><%= product.name %></td>

<td><%= product.category %></td>

<td>₹ <%= product.price %></td>

<td><%= product.stock %></td>

<td>

<a href="/admin/edit-product/<%= product._id %>" class="btn btn-warning btn-sm">
Edit
</a>

<a href="/admin/delete-product/<%= product._id %>" class="btn btn-danger btn-sm">
Delete
</a>

</td>

</tr>
<% }) %>
</tbody>
</table>