<%- include("partials/header") %>

<h2 style="text-align:center;"><%= category %> Products</h2>

<% if (products.length === 0) { %>
  <p style="text-align:center;">No products found.</p>
<% } else { %>

<div class="product-container">
  <% products.forEach(product => { %>
    <div class="card">
      <h3><%= product.name %></h3>
      <p>₹ <%= product.price %></p>

      <form action="/cart/add-to-cart/<%= product._id %>" method="POST">
        <button>Add to Cart</button>
      </form>
    </div>
  <% }) %>
</div>

<% } %>

<%- include("partials/footer") %>