<h2>Your Cart</h2>

<% if(cart.length > 0){ %>

 <% cart.forEach(item => { %>

<div>

  <% if(item.image){ %>
  <img src="/uploads/<%= item.image %>" width="120">
  <% } %>

  <h4><%= item.name %></h4>

  <p>₹ <%= item.price %></p>

  <p>Quantity: <%= item.qty %></p>

  <form action="/cart/increase/<%= item.productId %>" method="POST">
    <button>+</button>
  </form>

  <form action="/cart/decrease/<%= item.productId %>" method="POST">
    <button>-</button>
  </form>

  <form action="/cart/remove/<%= item.productId %>" method="POST">
    <button>Remove</button>
  </form>

</div>

<hr>

<% }) %>

  <h3>Total: ₹ <%= total %></h3>

  <form action="/orders/place-order" method="POST">
    <button>Place Order</button>
  </form>

<% } else { %>

  <p>Cart is empty</p>

<% } %>