<h2 style="text-align:center;"><%= category %> Products</h2>

<div class="product-container">

<% products.forEach(product => { %>

<div>

  <% if(product.image){ %>
  <img src="/uploads/<%= product.image %>" width="150">
  <% } %>

  <h4><%= product.name %></h4>

  <p>₹ <%= product.price %></p>

  <a href="/products/<%= product._id %>">View Product</a>

</div>

<hr>

<% }) %>

</div>